.btn-custom {
    border: none;
    border-radius: 20px;
}

.image-container {
    width: 100%;
    height: 200px; /* Adjust as needed */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }